.header-block {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
}

.header-block__main-switcher {
    display: flex;
}

.header-block__main-switcher-group {
    display: flex;
}