.page-card {
  padding-bottom: 100%;
  border-radius: 6px;
  position: relative;
}

.page-card__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-card__title {
  position: absolute;
  font-weight: bold;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  color: white;
}

.page-card__open-button {
  position: absolute;
  right: 5px;
  bottom: 5px;
  left: 5px;
  padding: 8px;
  text-align: center;
  border-radius: 6px;
  background-color: rgba(256, 256, 256, 0.3);
  color: white;
  text-decoration: none;
}

.page-card__external-link {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background-color: rgba(256, 256, 256, 0.3);
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-card__external-link svg {
  width: 16px;
  height: 16px;
}

.page-card--add-container {
  background-color: #f3f3f3;
}

.page-card--add-container input {
  background-color: transparent;
  box-shadow: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 8px;
  height: 20px;
}

.page-card__add-form-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.page-card__remove-button {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  opacity: 0.5;
}

.page-card__remove-button:hover {
  opacity: 1;
}

.page-card__remove-button svg {
  fill: white;
}